<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-6 col-lg-4" style="background-color:lavender;" id="welcome">
			
			<h2> Welcome, <%= loggedUser.attributes.name%></h2>
		</div>

	<div class="col-sm-9 col-md-6 col-lg-8" style="background-color:lavenderblush;">	
		<h3><button Type="button" VALUE="Back" id="user_list_btn" class="btn btn btn-link"> <h4>User List</h4> </button>
		<button Type="button" VALUE="Back" id="events_list" class="btn btn btn-link"><h4> Events List</h4> </button></h3>
		<img class="thumbnail" src="<%= loggedUser.attributes.profilepic %>" height="100" width="100">
		<h4>
		<b>Designation:</b> <%= loggedUser.attributes.designation%>
		</h4>
		<b>
		<h4>Department:</b> <%= loggedUser.attributes.department%>
		</h4>
	</div>
</div>
<style type="text/css">body {
background: rgba(212,228,239,1);
background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}/*
#nav, #nav-inner, .nav-list, .nav-list-item a {
background-color: #008B8B;
color: #fffff0;
}
.navbar-brand a:hover {
background: #333;
color: #fff;
}*/
#welcome {
vertical-align: middle;	
}

</style>