<h2 class="sub-header">User List</h2>
  <div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Designation</th>
      <th>Department</th>
      <th>Profilepic</th>
    </tr>
    </thead>
      <tbody>
        <% for (var i = 0, l = Users.length; i < l; i++) {%>
        <tr>
          <td><%= Users[i].userid %></td>
          <td><%= Users[i].name %></td>
          <td><%= Users[i].designation %></td>
          <td><%= Users[i].department %></td>
          <td><%= Users[i].profilepic %></td>
        </tr>
        <% } %>
      </tbody>
  </table>
