<h2 class="sub-header">User List</h2>
  <div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Designation</th>
      <th>Department</th>
      <th>Profilepic</th>
    </tr>
    </thead>
      <tbody>
        <% for (var i = 0, l = Users.length; i < l; i++) {%>
        <tr>
          <td><%= Users[i].userid %></td>
          <td><%= Users[i].name %></td>
          <td><%= Users[i].designation %></td>
          <td><%= Users[i].department %></td>
          <td><%= Users[i].profilepic %></td>
          
 <!--         <td><button id="delete_<%=i%>" type="button" class=" add btn btn-danger" >Delete</button></td>-->
        </tr>
        <% } %>
      </tbody>
</table>

<!--<div class="container"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_users" >Add Users</button>-->
 <button id="events-list" class="btn btn btn-link" type="submit">Events</button> </div>

<div id="add_users" class="modal fade" role="dialog">
  <div class="modal-dialog">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add User</h4>
      </div>
      <div class="modal-body">
       <form>
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputname" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="inputDesignation">Designation</label>
        <input type="text" class="form-control" id="inputdesignation" placeholder="Designation">
    </div>
    <div class="form-group">
        <label for="inputDepartment">Department</label>
        <input type="text" class="form-control" id="inputdepartment" placeholder="Department">
    </div>

    <div class="form-group">
        <label for="inputDepartment">Profile Pic</label>
        <input type="text" class="form-control" id="inputprofilepic" placeholder="Profile Pic">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    
